<h1 style="colour: #3BA5FF"> Full Product List</h1>
	
<body>
	<br>
	<table class="table">
  		<thead>
    		<tr>
      			<th>Product</th>
      			<th>Image</th>
      			<th>Product Description</th>
      			<th>Available for Rent</th>
      			<th>Hire Fee ($)</th>
      			<th>Details</th>
    		</tr>
  		</thead>
		<tbody>
		<% for product in @products %>
			<tr>
				<td><b><%= link_to product.name, product_path(product) %></b></td>
				<td><%= image_tag product.image.url(:thumb) %></td>
				<td><%= product.description %></td>
				<td><% if product.rented %>
    						No
					<%  else  %>
    						Yes
				<% end%></td>
				<td><%= product.hirefee / 100.00  %></td>
				<td><% if current_user.admin? %> <%= link_to "Edit", edit_product_path(product)  %> <%= link_to "Delete", product_path(product), method: :delete  %> <% end %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</body>

<% if current_user.admin? %><%= link_to "New Product", new_product_path %><% end %>
