  <h1><%= @product.name %></h1>
 
	<%= image_tag @product.image.url(:medium) %>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p> 
<p>
  <strong>Available:</strong>
  <%= @product.rented %>
</p> 

<p>
  <strong>Hire Fee ($):</strong>
  <%= @product.hirefee %>
</p>
