<!DOCTYPE html>
<html>
  <head>
    <title>Borrowroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="<%= body_class %>">
 
<nav class="navbar navbar-dark justify-content-between" style="background-color: #3BA5FF;">
  <a class="navbar-brand" href="#"><b>Borrowroom</b></a>

    <form class="form-inline">
        <a class="nav-item" style="color: #FFFFFF;" href="/">Home</a>
     
     <!-- views/devise/menu/_login_items.html.erb -->
  <% if user_signed_in? %>
  <a class="nav-item">
  <%= link_to('Catalogue', products_path, {:style=>'color:#FFFFFF;', class: 'nav-link'}) %>        
  </a>
  <a class="nav-item">
  <%= link_to('Logout', destroy_user_session_path, {:style=>'color:#FFFFFF;', method: :delete, class: 'nav-link'}) %>        
  </a>
  <a class="nav-item">
  <%= link_to('Settings', edit_user_registration_path, {:style=>'color:#FFFFFF;', class: 'nav-link'}) %>        
  </a>
  
<% else %>
  <a class="nav-item">
  <%= link_to('Login', new_user_session_path, {:style=>'color:#FFFFFF;', class: 'nav-link'}) %>  
  </a>
        <a class="nav-item" style="color: #FFFFFF;" href="/users/sign_up">Sign-up <span class="sr-only"></span></a>
<% end %>

</form>
  <form class="form-inline">
    <% if user_signed_in? %>

  
        <a class="nav-item">
            <%= link_to(current_user.email, edit_user_registration_path, {:style=>'color:#FFFFFF;', class: 'nav-link'}) %>  
                  </a>
    <%  end %>
  </form>
</nav>


    
	<div class="container">    
    <%= yield %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	</div>
  </body>
</html>
